<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Venta</title>
</head>
<body>
    <h1>Detalles de Venta</h1>

    <p>ID de Venta: <%= sale._id %></p>
    <p>Producto: <%= sale.productName %></p>
    <p>Cantidad: <%= sale.quantity %></p>
    <p>Precio: <%= sale.price %></p>

    <a href="/sales">Volver a la lista de ventas</a>
</body>
</html>
